

/* HEADER */

.cls {clear: both;}
.nav {height: 80px !important;}
.icone {font-size: 40px !important;}
.links{margin-top:10px;}
.content{margin-left: 500px; bottom: 50px;}

.areaLogo{
    text-align: center;
    width: 25%;
    height: 100%;
}

.logotipo {width: 200px; height: 100%; margin-left: 30px;}

.topicosNave{
    text-align: center;
    width: 50%;
    height: 100%;
}

.areaIcones{
    padding-top: 13px;
    width: 15%;
    height: 100%;
    float: right;
    text-align: right;
}

.ic{
    width: 50%;
    height: 50%;
}

ul{width: 100%; height: 100%; text-align: center;}
a{height: 100%;}

.topico {width: 33%; padding-top: 20px;}

/*CONTEÚDO*/

.filter {
  margin: 40px;
  float: left;
  border-radius: 7px;
}

.sub_filter {
  display: flex;
  justify-content: center;
  width: 100%;
}

.font {
  font-family: 'Mitr', sans-serif;
  font-size: 30px;
  color: #311b92;
  text-align: center;
}

.text {
  width: 100%;
}

.limpar {
  clear: both;
}

.img_div {
  width: 484px;
  height: 260px;
  border-radius: 9px;
}

.p_div_filter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Mitr', sans-serif;
  font-size: 30px;
  font-size: 30px;
  color: white;
}

.p_div_center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.fl {
  float: left;
}

.flex {
  display: flex;
  justify-content: center;
}

/* O container geral define a perspectiva */
.flip-container {
  perspective: 1000;
}

/* vira os containers frente e verso quando o mouse passa em cima */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 484px;
  height: 260px;
  border-radius: 9px;
}

/* define a velocidade da transição */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* esconde o verso durante a animação */
.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* frente posicionada sobre o verso */
.front {
  z-index: 2;
}

/* verso inicialmente escondido */
.back {
  transform: rotateY(180deg);
  background-color: #f5f5f5;
}

.tamanho_card {
  width: 320px;
}

.a {
  background-image: url("img/inter.jpg");
  background-size: cover;
}

.a2 {
  background-image: url("img/inter2.jpg");
  background-size: cover;
}

.a3 {
  background-image: url("img/inter3.jpg");
  background-size: cover;
}

.a4 {
  background-image: url("img/inter4.jpg");
  background-size: cover;
}

.font_div_back_titulo {
  font-family: font-family: 'Mitr', sans-serif !important;
  font-size: 30px !important;
  color: #311b92 !important;
}

.font_div_back_text {
  font-family: 'Open Sans', sans-serif;
  color: grey;
}

.botao {
  position: absolute;
  margin-top: -60px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.span_card {
  width: 100%;
  background-color: black;
  height: 50px;
  position: fixed;
}

.card_img {
  height: 180px;
}

.font_filter {
  font-family: 'Nunito', sans-serif;
}

.logotipo {
  width: 55%;
  height: 38%;
  margin-left: 10px;
}

.letra {
  font-size: 13px;
  margin-top: -10px;
}

/* MEDIA QUERY */

/* CELULAR DE PÉ */
@media screen and (max-width: 450px) {}

/* CELULAR DEITADO */
@media screen and (min-width: 451px) and (max-width: 650px) {}

/* TABLET DE PÉ */
@media screen and (min-width: 651px) and (max-width: 960px) {}


/* css dos filtros */

.intercambios {
  width: 80%;
  height: 300px;
  background-color: white;
  text-align: center;
}

.intercambios_bigdiv {
  display: flex;
  justify-content: center;
  background-color: blue;
  width: 80%;
  height: 400px;
}

#footer {
  margin-bottom: 0;
  width: 100%;
  bottom: 0;
  height: 80px;
}

.row {
  margin-bottom: 0;
}



